<%- include('partials/header') %>
    <h1>This is all of the games we have:</h1>

    <% for(var i = 0;i < gamesList.length; i++){ %>
        <div style="border-style: solid; padding: 5px; margin: 50px; max-width: 200px">
            <h4 style="color: #73A53E">Game: <%= gamesList[i].title %></h4>
            <h5 style="color: #55aaff">Game Creator: <%= gamesList[i].creator %></h5>
        </div>
    <% } %>

<%- include('partials/footer') %>
