<%- include('partials/header') %>
        <h1>Welcome to the Galaxy of Games - designed by Praveen....</h1>
        <p>Purpose of this gaming website is to make it possible to create game strategies
        and apply them to other areas(such as the development of soft skills).
        The aim is to ensure active learning and to improve the evaluation of the person taking part,
         without them giving up or losing motivation.</p>
<%- include('partials/footer') %>